
body{
  background-color: #4F674F;
}
  .home{
    width:100%;
    height: 100vh;
    background-image: url("Home-background-pic.png");
    background-position: center;
    background-size: cover;

  }


  header{
    height: 12%;
    display: flex;
    align-items: center;
    padding-top: 3%
  }


  header ul{
    text-align: right;
    flex:1;
  }

  header ul li{
    list-style:none;
    display: inline-block;
    margin-left: 60px;
  }

  header ul li a{
    text-decoration:none;
  }

  i{
    color:white;
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
  }

.mainTitle{
    text-align: center;
    font-size: 100px;
    color:white;
    font-family: Times New Roman;
    font-weight: lighter;
}

.title{
  text-align: center;
  font-size: 60px;
  color:#B7CDB7;
  font-family: Times New Roman;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5%;
}

ul#content li {
  text-align: center;
    display:inline-block;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px;
    margin-top: 50px;
    margin: 70px 70px 70px 70px;
    text-decoration:none;
  }
  ul#content li a{
    text-decoration: none;
  }



  
/* unvisited link */
a:link {
  color: White;
}

/* visited link */
a:visited {
  color: White;
}

/* mouse over link */
a:hover {
  color: #B7CDB7;
}

/* selected link */
a:active {
  color: #D75B3F;
}

   .info{
    float: left;
    color:white;
    font-size: 20px;
    font-family: Times New Roman;

  }

  section.T{
    float: left;
    color:#d7e0d7;
    font-size: 23px;
    font-family: Times New Roman;
    margin-left: 4%;
  }

  aside.sidePic{
    float: right;
  }



  .A{
    height: 500px;
    width:500px;
    border: 1px solid #012101;
  } 

  .Cert{
    height: 500px;
    width:800px;
    border: 2px solid #012101;
  } 

  video {
    width: 50%;
    height: auto;
    border: 3px solid #012101;
  }

  .con{
    text-decoration:none;
    text-align: center;
    font-size: 30px;
    color:#B7CDB7;
    font-family: Times New Roman;
    font-weight: lighter;
    display: inline-block;
    display: flex;
    align-items: center;
  }
  


  




  /* Styles for screens smaller than 576px */
@media (max-width: 576px) 
{

  .home{
    width:60px;
    height: 60px;
    background-position: center;
    background-size: cover;

  }
   .T{
    float: left;
    color:#d7e0d7;
    font-size: 20px;
    font-family: Times New Roman;
    margin-left: 3%;
  }


  .title{
    text-align: center;
    font-size: 20px;
    color:#B7CDB7;
    font-family: Times New Roman;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5%;
  }

  .Cert{
    height: 150px;
    width:300px;
    border: 2px solid #012101;
  } 

  ul#content li {
    display:inline-block;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px;
    margin-top: 50px;
    margin: 50px 50px 50px 50px;
    text-decoration:none;
  }
}



/* Styles for screens larger than 992px */
@media (min-width: 992px) 
{
  ul#content li {
    display:inline-block;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px;
    margin-top: 50px;
    margin: 50px 60px 60px 60px;
    text-decoration:none;
  }
}